name: Build-(Core & Tauri)

on:
  push:
    branches: [ "master" ]
  pull_request:

# cancel ongoing jobs:
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  build-core:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-directories: "${{ github.workspace }}/core_lib/target"
      - uses: arduino/setup-protoc@v3
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libdbus-1-dev
      - run: |
          cd ./core_lib
          cargo test
          cargo build

  build-tauri:
    runs-on: ubuntu-20.04
    needs: build-core
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-directories: "${{ github.workspace }}/app/legacy/src-tauri/target"
      - uses: arduino/setup-protoc@v3
      - uses: pnpm/action-setup@v3
        with:
          version: 8
          run_install: true
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libdbus-1-dev libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf
      - name: GLIBC version
        run: |
          ldd --version
      - name: Build Vite + Tauri
        run: |
          cd ./app/legacy
          pnpm deb:build
      - name: Upload deb bundle
        uses: actions/upload-artifact@v4
        with:
          name: artifact-debug-rquickshare
          path: |
            ${{ github.workspace }}/app/legacy/src-tauri/target/debug/bundle/deb/r-quick-share*.deb
            ${{ github.workspace }}/app/legacy/src-tauri/target/debug/bundle/appimage/r-quick-share*.AppImage