name: Lint

on:
  push:
    branches: [ "master" ]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  stylerust:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - directory: ./core_lib
          - directory: ./frontend/src-tauri
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - run: |
          cd ${{ matrix.directory }}
          cargo fmt --all --check

  style_tauri:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-protoc@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: true
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: |
          cd ./frontend
          pnpm lint

  clippy_check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - directory: ./core_lib
            clippy_args: "--all-features --all"
          - directory: ./frontend/src-tauri
            clippy_args: "--no-default-features"
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-directories: "${{ github.workspace }}/${{ matrix.directory }}/target"
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libdbus-1-dev
      - name: Install Linux dependencies
        if: matrix.directory == './frontend/src-tauri'
        run: |
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf
      - name: Clippy Check
        run: |
          cd ${{ matrix.directory }}
          cargo clippy ${{ matrix.clippy_args }}