name: Release please flow

on:
  push:
    branches:
      - master
    tags-ignore:
      - '**'

env:
  CARGO_TERM_COLOR: always

jobs:
  release_please_tag:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GH_PAT_RELEASE_ACCESS }}
          skip-github-pull-request: true
          draft: true

  release_please_pr:
    runs-on: ubuntu-latest
    needs: release_please_tag
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          skip-github-release: true
